@mixin brand-root {
    display: flex;
    align-items: center;
    width: #{$sidebar-width - 10};
}

@mixin brand-logo {
    background: linear-gradient(-45deg, $color-primary-dark, $color-primary);
    width: 48px;
    height: 48px;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
}

@mixin brand-name {
    color: $color-primary-dark;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}

@mixin brand {
    .brand {
        @include brand-root;

        &__logo {
            @include brand-logo;
        }

        &__name {
            @include brand-name;
        }
    }
}

@include brand;
