@mixin button-root {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s;
    color: inherit;

    &:hover {
        background-color: rgba($color-gray, .25);
    }

    &--white {
        color: $color-white;
    }

    &--solid {
        background-color: rgba($color-gray, .125);
    }

    &--small {
        width: 32px;
        height: 32px;
    }
}

@mixin button {
    .button {
        @include button-root;
    }
}

@include button;
