@mixin check-root {
    position: relative;
    transition: background-color .25s;
    border-radius: 50%;
    cursor: pointer;

    &--hover:hover {
        background-color: rgba(#888, .25);
    }
}

@mixin check-icon {
    position: absolute;
    color: $color-white;
    transition: opacity .1s, background-color .25s, color .25s;

    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--background {
        color: $color-black;

        @at-root .check--ready & {
            opacity: 0;
        }

        @at-root .check--checked & {
            color: $color-white;
            opacity: 1;
        }
    }
    &--active {
        color: $color-white;


        @at-root .check--ready & {
            opacity: 0;
        }

        @at-root .check--checked & {
            color: $color-primary;
            opacity: 1;
        }
    }
    &--blank {
        color: $color-white;
        opacity: 0;

        @at-root .check--ready & {
            opacity: 1;
        }

        @at-root .check--checked & {
            opacity: 0;
        }
    }

    &--remove {
        display: none;

        @at-root .check--remove & {
            display: block;
        }
    }
}

@mixin check {
    .check {
        @include check-root;

        &__icon {
            @include check-icon;
        }
    }
}

@include check;
