@mixin check-root {
    position: relative;
    transition: background-color .25s;
    cursor: pointer;
    border-radius: 2px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: currentColor;
        opacity: 0;
        transition: opacity .25s;
        border-radius: 2px;

    }

    &--hover:hover:before {
        opacity: .125;
    }

    &--round {
        border-radius: 50%;

        &:before {
            border-radius: 50%;
        }
    }
}

@mixin check-icon {
    position: absolute;
    transition: opacity .1s, background-color .25s, color .25s;

    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    &--mark {
        color: $color-black;

        @at-root .check--ready & {
            opacity: 0;
        }

        @at-root .check--dark & {
            color: $color-white;
        }

        @at-root .check--checked & {
            color: $color-white;
            opacity: 1;
        }
    }

    &--background {
        color: $color-primary;

        @at-root .check--ready & {
            opacity: 0;
        }

        @at-root .check--checked & {
            opacity: 1;
        }
    }

    &--blank {
        opacity: 0;

        @at-root .check--ready & {
            opacity: 1;
        }

        @at-root .check--checked & {
            opacity: 0;
        }

        @at-root .check:hover & {
            color: var(--blank-hover-color);
        }
    }

    &--remove {
        display: none;

        @at-root .check--remove & {
            display: block;
        }
    }
}

@mixin check {
    .check {
        @include check-root;

        &__icon {
            @include check-icon;
        }
    }
}

@include check;
