@mixin dialog-root {
    position: fixed;
    background-color: rgba($color-black, .5);
    inset: 0;
    z-index: 103;
    display: none;

    &--active {
        display: block;
    }
}

@mixin dialog-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    padding: 32px 0;
}

@mixin dialog-header {
    padding: 0 32px 32px;
    background-color: $color-white;
}

@mixin dialog-title {
    font-weight: 600;
    top: 22px;
}

@mixin dialog-text {

}

@mixin dialog-content-container {
    max-height: calc(100vh - 500px);
    overflow: auto;
    padding: 0 32px;
}

@mixin dialog-controls {
    padding: 32px 32px 0;

    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

@mixin dialog-button {
    color: $color-white;
    padding: 12px 32px;
    background-color: $color-primary;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .25s, box-shadow .25s;
    border-radius: 4px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 4px;
        bottom: 2px;
        width: 0;
        height: 2px;
        background-color: $color-white;
        transition: width .25s;
    }

    &:hover:before {
        width: calc(100% - 8px);
    }
    &--secondary {
        background-color: transparent;
        color: $color-primary-dark;

        &:before {
            left: 32px;
            bottom: 8px;
            background-color: $color-primary;
        }

        &:hover:before {
            width: calc(100% - 64px);
        }
    }
    &--danger {
        background-color: $color-danger;
    }
}

@mixin dialog {
    .dialog {
        @include dialog-root;

        &__container {
            @include dialog-container;
        }

        &__header {
            @include dialog-header;
        }

        &__title {
            @include dialog-title;
        }

        &__content-container {
            @include dialog-content-container;
        }

        &__text {
            @include dialog-text;
        }

        &__controls {
            @include dialog-controls;
        }

        &__button {
            @include dialog-button;
        }
    }
}

@include dialog;
