@mixin drawer-root {
    display: none;
    position: fixed;
    top: $searchbar-height;
    right: 0;
    width: $sidebar-width * 3;
    background-color: $color-white;
    box-sizing: border-box;
    padding: 20px;
    height: calc(100vh - #{$searchbar-height});
    overflow: auto;
    z-index: 1;

    &--active {
        display: block;
    }
}

@mixin drawer {
    .drawer {
        @include drawer-root;
    }
}

@include drawer;
