@mixin drawer-root {
    position: fixed;
    background-color: $color-white;
    box-sizing: border-box;
    padding: 20px;
    height: calc(100vh - #{$searchbar-height});
    overflow: auto;
    z-index: 1;
    transform: translateX(100%);
    transition: transform .25s;

    &--right {
        top: $searchbar-height;
        right: 0;
        width: $sidebar-width * 3;
    }

    &--bottom {
        bottom: 0;
        left: $sidebar-width;
        height: $sidebar-width;
        width: calc(100vw - #{$sidebar-width});
        padding-bottom: 10px;
    }

    &--active {
        transform: none;
    }
}

@mixin drawer {
    .drawer {
        @include drawer-root;
    }
}

@include drawer;
