@mixin focus-overlay-root {
    position: fixed;
    top: $searchbar-height;
    width: 100vw;
    height: calc(100vh - #{$searchbar-height});
    transition: opacity .25s, z-index .01s .25s;
    background-color: rgba($color-black, .25);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    left: $sidebar-width;

    &--active {
        opacity: 1;
    }

    @at-root .sidebar & {
        left: 0;
        width: $sidebar-width;
        z-index: 5;
    }

    @at-root .searchbar & {
        left: 0;
        height: $searchbar-height;
        top: 0;
    }

    @at-root .root:has(.search__input:focus) & {
        opacity: 1;
        z-index: 6;
        transition: opacity .25s;
    }
}

@mixin focus-overlay {
    .focus-overlay {
        @include focus-overlay-root;
    }
}

@include focus-overlay;
