@mixin main-nav-root
    width: 100%

@mixin main-nav-list
    margin: 0
    list-style: none
    padding: 0
    display: flex
    flex-direction: column

@mixin main-nav-link
    color: $color-black
    display: flex
    align-items: center
    gap: 10px
    padding: 5px 10px

@mixin main-nav-icon
    width: 50px
    height: 40px
    background: red
    display: block

@mixin main-nav
    .main-nav
        @include main-nav-root

        &__list
            @include main-nav-list

        &__link
            @include main-nav-link

        &__icon
            @include main-nav-icon

@include main-nav
