@mixin map-root {
    position: absolute;
    inset: 0;
}

@mixin map-map {
    height: calc(100% - #{$sidebar-width});
}

@mixin map-button {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;

    &:before {
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-color: $color-white;
        z-index: -1;
    }
}

@mixin map-marker {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    clip-path: circle();
    transition: transform .25s;

    &:hover {
        transform: scale(3);
        z-index: 1000;
    }
}

@mixin map-cluster {
    position: relative;
    width: 48px;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: -1;
    border: 1px solid $color-primary;
    cursor: pointer;
}

@mixin map-cluster-label {
    font-size: 10px;
    line-height: 10px;
    font-weight: normal;
    color: $color-white;
    padding: 3px 5px 2px;
    border-radius: 9px;
    position: absolute;
    background-color: $color-primary;
    margin-top: 4px;
    top: 55%;
    right: -5px;
    left: auto;
}

@mixin map {
    .map {
        @include map-root;

        &__map {
            @include map-map;
        }

        &__button {
            @include map-button;
        }

        &__marker {
            @include map-marker;
        }

        &__cluster {
            @include map-cluster;
        }

        &__cluster-label {
            @include map-cluster-label;
        }
    }
}

@include map;
