@mixin medium-root {
    transition: scale .1s;
    height: 100%;
    width: 100%;
    position: relative;

    @at-root .teaser--selected & {
        scale: .925;
    }
}

@mixin medium-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
    z-index: 1;

    &--loaded {
        opacity: 0;
        transition: opacity .5s;
    }
}

//@mixin medium-image-container {
//    display: flex;
//    position: relative;
//    inset: 0;
//    box-sizing: border-box;
//
//    &:before {
//        content: '';
//        position: absolute;
//        inset: 0;
//        background-image: linear-gradient(rgba($color-black, .2), transparent 50%);
//        z-index: 2;
//        transition: opacity .25s;
//        opacity: 0;
//        pointer-events: none;
//
//        @at-root .medium:hover & {
//            opacity: 1;
//        }
//    }
//    &:after {
//        content: '';
//        position: absolute;
//        inset: 0;
//        z-index: 2;
//        transition: box-shadow .1s;
//        box-shadow: inset 0 0 0 0 $color-secondary-highlight;
//        pointer-events: none;
//
//        @at-root .teaser--selected & {
//            box-shadow: inset 0 0 0 16px $color-secondary-highlight;
//        }
//    }
//}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@mixin medium-image-container {
}

@mixin medium-image {
    object-fit: contain;
}

@mixin medium-video {
    position: relative;
    z-index: 1;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@mixin medium {
    .medium {
        @include medium-root;

        &__placeholder {
            @include medium-placeholder;
        }

        &__image-container {
            @include medium-image-container;
        }

        &__image {
            @include medium-image;
        }

        &__video {
            @include medium-video;
        }
    }
}

@include medium;
