@mixin media-section-root {
    margin: 22px -2px -2px -2px;

    &:first-child {
        margin-top: -2px;
    }
}

@mixin media-section-title {
    font-weight: 600;
    padding-bottom: 8px;
    display: block;
}

@mixin media-section-container {
    display: flex;
    flex-wrap: wrap;
    transition: width 0s;
}

@mixin media-section {
    .media-section {
        @include media-section-root;

        &__title {
            @include media-section-title;
        }

        &__container {
            @include media-section-container;
        }
    }
}

@include media-section;
