@mixin medium-root
    margin: 2px
    position: relative
    cursor: pointer
    background-color: #D8D8D8

@mixin medium-container
    pointer-events: all


@mixin medium-placeholder
    position: absolute
    top: 0
    left: 0
    image-rendering: pixelated

@mixin medium-image-container
    display: flex
    position: relative
    inset: 0
    box-sizing: border-box

    &:before
        content: ''
        position: absolute
        inset: 0
        background-image: linear-gradient(rgba($color-black, .2), transparent 50%)
        z-index: 2
        transition: opacity .25s
        opacity: 0
        pointer-events: none

        @at-root .medium:hover &
            opacity: 1

    &:after
        content: ''
        position: absolute
        inset: 0
        z-index: 2
        transition: box-shadow .1s
        box-shadow: inset 0 0 0 0 $color-secondary-highlight

        @at-root .medium--selected &
            box-shadow: inset 0 0 0 16px $color-secondary-highlight



@mixin medium-image
    position: relative
    z-index: 1
    transition: opacity .1s, transform .1s
    opacity: 0

    @at-root .medium--selected &
        transform: scale(.9)

    &--loaded
        opacity: 1

@mixin medium-check
    opacity: 0
    position: absolute
    top: 8px
    left: 8px
    width: 24px
    height: 24px
    background-color: #D8D8D8
    border-radius: 50%
    z-index: 3
    transition: opacity .1s, background-color .25s, color .25s, transform .25s
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center

    &:hover
        background-color: $color-secondary-highlight

    &:active
        transform: scale(.75)
        transition: none


    @at-root .medium:hover &
        opacity: 1

    @at-root .medium--selected &
        background-color: $color-secondary-dark
        color: $color-white


@mixin medium
    .medium
        @include medium-root

        &__container
            @include medium-container

        &__placeholder
            @include medium-placeholder

        &__image-container
            @include medium-image-container

        &__image
            @include medium-image

        &__check
            @include medium-check

@include medium
