@mixin root-root
    display: grid
    grid-template: 'search search search' #{$searchbar-height} 'sidebar main scrollbar' auto / #{$sidebar-width} calc(100vw - #{$sidebar-width + $scrollbar-width}) #{$scrollbar-width}
    flex-wrap: wrap
    height: 100vh

@mixin root
    .root
        @include root-root

@include root
