@mixin searchbar-root {
    position: fixed;
    padding: 8px;
    background-color: $color-white;
    z-index: 4;
    display: flex;
    align-items: center;
    grid-area: search;
    box-shadow: inset 0 -1px rgba($color-black, .2);
    height: $searchbar-height;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
}

@mixin searchbar-section {
    &--left {
        width: #{$sidebar-width - 10};
        flex-shrink: 0;
    }

    &--center {
        width: 100%;
    }

    &--right {
        width: 100%;
        align-items: flex-end;
        display: flex;
    }
}

@mixin searchbar {
    .searchbar {
        @include searchbar-root;

        &__section {
            @include searchbar-section;
        }
    }
}

@include searchbar;
