@mixin sidebar-root
    position: fixed
    top: $searchbar-height
    width: $sidebar-width
    display: flex
    justify-content: center
    flex-direction: column
    height: calc(100vh - #{$searchbar-height})
    box-sizing: border-box
    grid-area: sidebar
    padding: 16px 0

@mixin sidebar
    .sidebar
        @include sidebar-root

@include sidebar
