@mixin toolbar-root {
    position: absolute;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    grid-area: toolbar;
}

@mixin toolbar-section {
    display: flex;
    width: 33%;
    padding: 8px;
    flex-grow: 1;
    box-sizing: border-box;

    &--left {
        justify-content: flex-start;
    }
    &--center {
        justify-content: center;
        width: 34%;

        &:first-of-type {
            margin-left: 33%;
            flex-shrink: 1000;
        }

        &:last-of-type {
            margin-right: 33%;
            flex-shrink: 1000;
        }
    }
    &--right {
        justify-content: flex-end;
    }
}

@mixin toolbar-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-family: 'Material Design Icons', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s;

    &:hover {
        background-color: rgba(#888, .25);
    }
    @at-root .toolbar--light & {
        color: $color-white;
    }
}

@mixin toolbar {
    .toolbar {
        @include toolbar-root;

        &__section {
            @include toolbar-section;
        }

        &__button {
            @include toolbar-button;
        }
    }
}

@include toolbar;
