@mixin uploader-root {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    background: linear-gradient(-45deg, darken(rgba($color-purple-light, .5), 20%), darken(rgba($color-purple-dark, .5), 20%));
    z-index: 100;
    transition: opacity .25s;

    &:before {
        content: '';
        position: absolute;
        inset: 24px;
        box-sizing: border-box;
        border: 4px solid rgba($color-white, .75);
    }
    &--visible {
        opacity: 1;
        pointer-events: all;
    }
}

@mixin uploader-input {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@mixin uploader-label {
    color: $color-white;
    position: absolute;
    font-weight: 600;
    font-size: 30px;
    text-shadow: 0 0 0 50px black;
}

@mixin uploader {
    .uploader {
        @include uploader-root;

        &__input {
            @include uploader-input;
        }

        &__label {
            @include uploader-label;
        }
    }
}

@include uploader;
