.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.idea
.DS_Store

cypress/screenshots
dist
node_modules
.env
.env.*
.vs
.vscode
*.tsbuildinfo
yarn-debug.log*
yarn-error.log*

/ssl
