
$color-white: #FFFFFF;
$color-black: #000000;

$color-violet: #351F55;
$color-purple-dark: #87103D;
$color-purple-light: #E30075;

$color-violet-light: #F6F4F9;

$sidebar-width: 224px;
$scrollbar-width: 64px;
$searchbar-height: 64px;

$color-gray-light: #F0F0F0;
$color-gray: #888899;
$color-gray-dark: #444455;

$color-blue-light: #8899FF;
$color-blue-lighter: #F4F6FC;


$color-primary-dark: #1C2826;
$color-primary: #546119;
$color-primary-light: #E1E289;

$color-secondary-dark: #255656;
$color-secondary: #3D8F8F;
$color-secondary-light: #C5E6E5;

$color-secondary-highlight: #F1F9F9;

$color-primary-highlight: #F3F7DE;
$color-primary-highlighter: #F9FBEF;

$color-danger: #BF4E30;
$color-alert: #EEC170;
