@mixin detail-root {
    display: flex;
    color: $color-black;
}

@mixin detail-image {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

@mixin detail-icon {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin detail-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin detail-title {
    font-size: 16px;
    padding-bottom: 4px;
    display: block;
}

@mixin detail-values {
    display: flex;
    gap: 24px;
}

@mixin detail-value {
    font-size: 14px;
    color: $color-gray;
}

@mixin detail {
    .detail {
        @include detail-root;

        &__image {
            @include detail-image;
        }

        &__icon {
            @include detail-icon;
        }

        &__content {
            @include detail-content;
        }

        &__title {
            @include detail-title;
        }

        &__values {
            @include detail-values;
        }

        &__value {
            @include detail-value;
        }
    }
}

@include detail;
