@mixin main-root {
    padding: 16px 16px 16px 8px;
    grid-area: main;
    position: relative;

    &--narrow {
        max-width: 1024px;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
    }

    &--full {
        padding: 0;
    }
}

@mixin main {
    .main {
        @include main-root;
    }
}

@include main;
