@mixin root-root {
    display: grid;
    grid-template: 'search search' #{$searchbar-height} 'sidebar main' auto / #{$sidebar-width} calc(100vw - #{$sidebar-width});
    flex-wrap: wrap;
    height: 100vh;

    &:has(> .main--full) {
        display: block;
    }
}

@mixin root {
    .root {
        @include root-root;
    }
}

@include root;
