@mixin search-root {
    padding: 8px;
    height: 100%;
    position: relative;
    width: 100%;
    max-width: 500px;
}

@mixin search-input-container {
    position: relative;

    &:has(.search__input:focus) {
        z-index: 1000;
        position: relative;
    }
}

@mixin search-input {
    font-size: 16px;
    line-height: 16px;
    padding: 12px 90px 12px 24px;
    border-radius: 8px;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    appearance: none;
    outline: none;
    transition: box-shadow .25s, background-color .25s, border-color .25s;
    border: 1px solid rgba($color-black, .2);

    &:focus,
    &:hover {
        background-color: $color-secondary-highlight;
        border-color: $color-secondary-highlight;
    }

    &::-webkit-search-cancel-button {
        display: none;
    }

    &::placeholder {
        font-size: 14px;
        line-height: 14px;
        opacity: .25;
        font-weight: 600;
    }
}

@mixin search-hits {
    position: absolute;
}

@mixin search-submit {
    display: none;
}

@mixin search-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    display: flex;
    gap: 4px;
    right: 4px;
}

@mixin search-clear {
    width: 40px;
    display: none;

    &--active {
        display: flex;
    }
}

@mixin search-filter {
    width: 40px;
}

@mixin search {
    .search {
        @include search-root;

        &__input-container {
            @include search-input-container;
        }

        &__input {
            @include search-input;
        }

        &__hits {
            @include search-hits;
        }

        &__submit {
            @include search-submit;
        }

        &__buttons {
            @include search-buttons;
        }

        &__clear {
            @include search-clear;
        }

        &__filter {
            @include search-filter;
        }
    }
}

@include search;
