@mixin teaser-root {
    margin: 2px;
    position: relative;
    cursor: pointer;


    &--removed {
        display: none;
    }

    &--shift:before {
        content: '';
        position: absolute;
        inset: 0;
        box-shadow: inset 0 0 0 4px $color-primary;
        z-index: 10;
        pointer-events: none;
    }

    &--selected:before {
        display: none;
    }
}

@mixin teaser-container {
    pointer-events: all;
    background-color: $color-gray-light;
}

@mixin teaser-image-container {
    height: 100%;
}

@mixin teaser-check {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 3;
    transition: opacity .1s, background-color .25s, color .25s;
    opacity: 0;
    display: flex;

    @at-root .teaser:hover & {
        opacity: .75;

        &:hover {
            opacity: 1;
        }
    }
    @at-root .selection-state--selecting & {
        opacity: .75;

        &:hover {
            opacity: 1;
        }
    }
    @at-root .teaser--selected & {
        opacity: 1;
    }

    @at-root .teaser--selected:hover & {
        opacity: 1;
    }

    @at-root .teaser--removable & {
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        opacity: 1;
    }

    @at-root .teaser--removable:hover &:hover {
        opacity: .75;
    }
}

@mixin teaser-nav {
    color: $color-white;
    font-size: 14px;
    position: absolute;
    top: 4px;
    right: 2px;
    z-index: 3;
    display: flex;
    gap: 4px;
    align-items: center;
    transition: translate .1s, opacity .1s;
    opacity: 0;
    pointer-events: none;

    @at-root .teaser:hover & {
        opacity: 1;
        pointer-events: all;
    }

    @at-root .teaser:has(.dropdown--active) & {
        opacity: 1;
        pointer-events: all;
    }

    @at-root .selection-state--selecting & {
        pointer-events: none;
        opacity: 0;
    }

    @at-root .selection-state--selecting .teaser:hover & {
        pointer-events: none;
        opacity: 0;
    }
}

@mixin teaser-open-fallback {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    color: $color-white;
    bottom: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    z-index: 2;
    transition: opacity .1s, translate .1s;

    @at-root .teaser--selected & {
        translate: -8px -2px;
    }

    > svg {
        pointer-events: none;
    }

    &--delete,
    &--single {
        display: none;
    }

    @at-root .selection-state--selecting .teaser:hover & {
        opacity: .75;
        pointer-events: all;

        &:hover {
            opacity: 1;
        }
    }
}

@mixin teaser-categories {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px;
    z-index: 1;
    transition: translate .1s;

    @at-root .teaser--selected & {
        translate: 8px -2px;
    }
}

@mixin teaser-favorite {
    color: $color-white;
}

@mixin teaser-title {
    display: block;
    font-weight: 600;
    color: $color-black;
    padding: 8px 0 4px;
}

@mixin teaser-misc {
    color: $color-gray;
    font-size: 12px;
}

@mixin teaser {
    .teaser {
        @include teaser-root;

        &__container {
            @include teaser-container;
        }

        &__image-container {
            @include teaser-image-container;
        }

        &__check {
            @include teaser-check;
        }

        &__nav {
            @include teaser-nav;
        }

        &__open-fallback {
            @include teaser-open-fallback;
        }

        &__categories {
            @include teaser-categories;
        }

        &__favorite {
            @include teaser-favorite;
        }

        &__title {
            @include teaser-title;
        }

        &__misc {
            @include teaser-misc;
        }
    }
}

@include teaser;
