@mixin toolbar-root {
    position: absolute;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    grid-area: toolbar;
    pointer-events: none;
}

@mixin toolbar-section {
    display: flex;
    width: 33%;
    padding: 8px;
    flex-grow: 1;
    box-sizing: border-box;

    &--left {
        justify-content: flex-start;
    }
    &--center {
        justify-content: center;
        width: 34%;

        &:first-of-type {
            margin-left: 33%;
            flex-shrink: 1000;
        }

        &:last-of-type {
            margin-right: 33%;
            flex-shrink: 1000;
        }
    }
    &--right {
        justify-content: flex-end;
    }
}

@mixin toolbar {
    .toolbar {
        @include toolbar-root;

        &__section {
            @include toolbar-section;
        }
    }
}

@include toolbar;
