$color-white: #FFFFFF
$color-black: #000000

$color-violet: #351F55
$color-purple-dark: #87103D
$color-purple-light: #E30075

$color-violet-light: #F6F4F9

$sidebar-width: 224px
$scrollbar-width: 64px
$searchbar-height: 64px

$color-gray-dark: #444455

$color-blue-light: #8899FF
$color-blue-lighter: #F4F6FC
